body {
  background: #f8f8fc;
  padding: 0 20px;
}
header,
.header-links,
nav,
nav ul,
.header-buttons,
.navigation,
.child-wrapper,
.field,
.confirm,
.footer-links,
.footer-wrapper,
.popup,
.burger-button {
  display: flex;
  justify-content: space-between;
}
/* ===popup===  */
.popup-wr {
  position: fixed;
  left: 0;
  top: -100%;
  z-index: 18;
  width: 100%;
  height: 100vh;
  background: #7279ffc5;
}
.popup {
  width: 100%;
  max-width: 1082px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 13px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.popup table {
  width: 100%;
}
.popup td {
  font-family: "FiraGO-regular";
  font-size: 16px;
  text-align: left;
  padding: 10px 0;
}
.property {
  color: #20263173;
  font-family: "FiraGO-medium" !important;
}
#popup-close {
  background: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -21px;
  border-radius: 8px;
  border: 1px solid #7279ff;
}
.popup h3 {
  font-family: "FiraGO-Bold";
  font-size: 34px;
  margin: 13% 0;
}
/* ===header=== */
header {
  align-items: center;
  position: relative;
  padding: 20px 30px;
  background: #ffffff;
  box-shadow: 0px 0px 8px -3px #20263136;
  border-radius: 15px;
  max-width: 1700px;
  max-height: 80px;
  width: 90%;
  top: 35px;
  margin: auto;
}
.header-links a,
.header-links button {
  font-family: "FiraGO-medium";
  font-size: 16px;
}
nav ul {
  align-items: center;
}
nav a {
  color: black;
  padding: 20px;
}
nav a:hover,
.navigation a:hover {
  color: #7279ff;
}
#menu-close {
  background: none;
  color: white;
  position: absolute;
  top: 64px;
  left: 34px;
  font-size: 30px;
}
.mobile-menu {
  position: fixed;
  width: 50%;
  height: 100vh;
  background: #7279fffa;
  top: 0;
  right: -100%;
  z-index: 15;
  transition: 0.4s;
  color: white;
}
.burger-button {
  display: none;
  background: none;
  flex-direction: column;
  padding: 12px 0;
  margin-right: 15px;
}
.burger-button div {
  width: 23px;
  height: 3px;
  background: #656565;
}
.loginBtn {
  width: 105px;
  height: 40px;
  background: #7279ff;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}
.loginBtn img {
  width: 16px;
}
.search {
  width: 40px;
  height: 40px;
  background: #f1f2f4;
}
/* ===main-wrapper=== */
.main-wrapper {
  width: 100%;
  background: #ffffff;
  border-radius: 15px;
  padding: 55px 5%;
}
.navigation {
  font-size: 12px;
  font-family: "FiraGO-bold";
  margin-left: 20px;
  width: min-content;
  align-items: center;
}
.navigation a {
  color: black;
  margin: 0 10px;
}
/* child-wrapper */
.child-wrapper {
  flex-direction: column;
  max-width: 550px;
  margin: auto;
}
/* form  */
.form-title {
  text-align: center;
}
.form-title h1 {
  font-size: 55px;
  font-family: "FiraGO-Bold";
  margin: 6% 0;
}
.form-title h2 {
  color: #7279ff;
  font-size: 21px;
  font-family: "FiraGO-regular";
}
.registration-form {
  width: 100%;
}

.field {
  position: relative;
  flex-direction: column;
  margin: 10px 0 30px 0;
}
input:focus-visible {
  border: 2px solid #7279ff !important;
}
#registration-form {
  margin-top: 50px;
  color: #707070;
}
#registration-form input,
#registration-form select {
  font-family: "FiraGO-medium";
  font-size: 16px;
  border: 1px solid #7279ff;
  border-radius: 7px;
  padding: 10px;
  outline: none;
}
#error-message {
  color: #e74c3c;
}
.select {
  top: 10px;
}
.s-hidden {
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: "FiraGO-medium";
  font-size: 16px;
  color: black;
  border: 1px solid #7279ff;
  height: 40px;
  width: 100%;
  border-radius: 8px;
}
.styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-weight: bold;
  height: 40px;
  border-radius: 8px;
  border-bottom: 1px solid #0000004a;
}
.styledSelect:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: 17px;
  right: 15px;
}
.styledSelect:active,
.styledSelect.active {
  background-color: #eee;
}
.options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  border: 1px solid rgb(114, 121, 255);
  border-radius: 8px;
  padding: 10px 0;
  z-index: 10;
  background: white;
}
.options li {
  color: #7279ff;
  padding: 6px 18px;
  border-radius: 8px;
  width: 95%;
  margin: auto;
}
.options li:hover {
  background-color: #7279ff;
  color: white;
}
label {
  margin: 0 5px 10px 0;
}
label:not(.worklabel)::after {
  content: "*";
  position: relative;
  left: 5px;
  width: 0;
  height: 0;
  color: #e74c3c;
}
#eye,
#eyeconfirm {
  color: #7279ff;
  position: absolute;
  right: 22px;
  top: 42px;
  font-size: 22px;
  cursor: pointer;
}
.confirm {
  position: relative;
  width: fit-content;
  margin-top: 10px;
}
.confirm p {
  margin-left: 10px;
}
.confirm a,
.login-link a {
  text-decoration: underline;
  color: #7279ff;
}
.submit-button {
  margin-top: 5%;
  background: #7279ff;
  transition: all 0.2s;
}
.submit-button:hover {
  background: #5b61d0;
}

.button {
  font-family: "FiraGO-medium";
  font-size: 16px;
  height: 40px;
  border-radius: 8px;
  color: white;
  width: 100%;
}
.container {
  display: block;
  position: relative;
  padding-left: 16px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container:after {
  content: "" !important;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #7279ff;
  border-radius: 4px;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #7279ff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
}
/* login buttons */
.login-buttons button {
  margin-bottom: 20px;
  position: relative;
}
.login-buttons i,
.login-buttons img {
  position: absolute;
  left: 18px;
  top: 11px;
}
.login-buttons i {
  font-size: 21px;
}
.or {
  margin: 12% 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-family: "FiraGO-Bold";
}
.or p:after,
.or p:before {
  content: "- - - - - - - - - - - - - - -";
  position: relative;
  color: #7279ff;
  left: 24px;
  font-size: 26px;
  top: 5px;
}
.or p:before {
  left: -24px;
}
.facebook-login {
  background: #39579a;
}
.facebook-login:hover {
  background: #253863;
}
.gmail-registration {
  background: #d54b3d;
}
.gmail-registration:hover {
  background: #792c23;
}
.gmail-registration img {
  width: 21px;
}
.login-link {
  margin: 12%;
  text-align: center;
}
/* ===footer=== */
footer {
  display: flex;
  justify-content: flex-end;
  padding: 8% 7% 30px 7%;
}
.footer-wrapper {
  flex-direction: column;
  align-items: flex-end;
  color: #202631;
}
.footer-icnos {
  padding-left: 30px;
}
.footer-wrapper a {
  color: #202631;
}
.footer-links {
  max-width: 230px;
}
.footer-links span {
  padding-right: 30px;
  border-right: 1px solid #202631;
  height: fit-content;
}
.footer-icons {
  padding-left: 30px;
}
.fa-youtube {
  margin-left: 22px;
}
.left-side {
  display: flex;
  margin-top: 20px;
}
.left-side a {
  padding: 0 30px;
  border-right: 1px solid #202631;
  height: fit-content;
}
.left-side span {
  padding-left: 30px;
}
.right-side {
  display: flex;
  flex-direction: column;
}
